@model EventFully.Models.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Change Password</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item "><a class="nav-link" id="profile" href="@Url.Action("Profile","Account")">Profile</a></li>
                <li class="nav-item active"><a class="nav-link" id="change-password" href="#">Password</a></li>
                <li class="nav-item"><a class="nav-link" id="personal-data" href="@Url.Action("PersonalData","Account")">Personal Data</a></li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h1 class="mt-0 font-bold">Change Password</h1>
            <form role="form" asp-action="ChangePassword" asp-controller="Account" data-ajax-method="POST" data-ajax="true" data-ajax-success="SaveProfile(data)" data-ajax-failure="SaveProfile(data)" id="profile-form">
                <div class="form-group">
                    <label asp-for="OldPassword"></label>
                    <input asp-for="OldPassword" class="form-control" required="" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary btn-lg pull-right">Update Password</button>
            </form>

        </div>
    </div>
</div>
@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
        <link href="~/lib/slim/slim.min.css" rel="stylesheet" />
        <link href="~/lib/sweetalert/dist/sweetalert.css" rel="stylesheet" />
        <link href="~/lib/jasny-bootstrap/dist/css/jasny-bootstrap.css" rel="stylesheet" />
    </environment>
}

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jQuery-unobtrusive-ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/dataTables/datatables.min.js"></script>
    <script src="~/lib/dataTables/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/slim/slim.kickstart.js"></script>
    <script src="~/lib/jasny-bootstrap/dist/js/jasny-bootstrap.js"></script>

    <script type="text/javascript">
        var aTable;
        $(document).ready(function () {

        });

        function SaveProfile(data) {
            if (data.success == true) {
                swal("Success", "Password changed successfully!", "success");
            }
            else {
                swal("Error", data.message, "error");
            }
        }

    </script>
}