@model EventFully.Models.ForgotPasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EventBx</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>



</head>
<body class="white-bg">

    <div class="middle-box animated fadeInDown">
        <div class="row white-bg p-2">
            <div class="col-md-12">
                <form class="m-t" role="form" method="post" asp-action="forgotpassword" asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]">
                    <div class="ibox-content text-center">
                        <h2 class="font-bold">Forgot Your Password?</h2>
                        <p>Enter your email</p>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="Username" class="form-control required" required="" placeholder="Enter Email" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="ibox-footer">
                        <button type="submit" class="btn btn-success btn-block">Continue</button>
                        <p class="text-center mt-4">
                            <a href="/Account/Login">
                                Return to Login
                            </a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <strong>&copy; @DateTime.Now.Year EventBx</strong> | <a href="https://www.eventbx.com/cookies" target="_blank">Cookie Policy</a> | <a href="https://www.eventbx.com/privacy" target="_blank">Privacy Policy</a> | <a href="https://www.eventbx.com/terms" target="_blank">Terms of Service</a>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jQuery-unobtrusive-ajax/jquery.unobtrusive-ajax.min.js"></script>
</body>

</html>
