@{
    Layout = null;
    ViewData["Title"] = "EventBx";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Privacy</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="~/images/landing/favicon.ico">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    </environment>

</head>

<body id="page-top" class="landing-page">
    <partial name="_CookieConsentPartial" />
    <div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top navbar-expand-md" role="navigation">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="~/images/landing/logo.png" />
                </a>
                <div class="navbar-header page-scroll">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">s
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse justify-content-end" id="navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="nav-link page-scroll" href="/">Home</a></li>
                        <li><a class="nav-link page-scroll" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <section class="generic">
        <div class="container">
            <h1>Privacy Policy</h1>

            <p>When you use EventBx services, we want you to know that you're sharing some information with us. So we want to be clear about the information we collect, how we use it, whom we share it with, and the controls we give you to access, update, and delete your information.</p>

            <h3>Personal information we collect</h3>
            <p>
                We collect certain personal information about visitors and users of our Sites.
                The most common types of information we collect include things like: user-names, member names, email addresses, IP addresses, other contact details, survey responses, blogs, photos, payment information such as payment agent details, transactional details, tax information, support queries, forum comments (if applicable), content you direct us to make available on our Sites (such as item descriptions), your actions on our Sites (including any selections or inputs into items) and web and email analytics data. We will also collect personal information from job applications (such as, your CV, the application form itself, cover letter and interview notes).
            </p>

            <h3>How we collect personal information</h3>

            <p>We collect personal information directly when you provide it to us or automatically as you navigate through the our site and app.</p>
            <p>We collect your personal information when you provide it to us when you complete your registration and buy or provide items or services on our site or app, subscribe to a newsletter, email list, submit feedback or send us a communication.</p>

            <h3>Personal information we collect about you from others</h3>

            <p>
                Although we generally collect personal information directly from you, on occasion, we also collect certain categories of personal information about you from other sources. In particular:
                financial and/or transaction details from payment providers in order to process a transaction;
                third party service providers (like Google, Facebook) which may receive additional information about you (to the extent permitted by applicable law), such as demographic and other analytics data.
            </p>

            <h3>How we use personal information</h3>

            <h5>We will use your personal information:</h5>
            <ul>
                <li>To fulfil a contract, or take steps linked to a contract: in particular, in facilitating and processing transactions that take place on the site or app.</li>
                <li>
                    Where this is necessary for purposes which are in our legitimate interests. These interests include:
                    <ul>
                        <li>Operating the site or app</li>
                        <li>Providing you with services described on the site or app</li>
                        <li>Verifying your identity when you sign in to the site or app</li>
                        <li>Responding to support tickets, and helping facilitate the resolution of any disputes</li>
                        <li>Updating you with operational news and information about our services</li>
                        <li>Carrying out technical analysis to determine how to improve our site and app and services we provide</li>
                        <li>Monitoring activity on the site and app, e.g. to identify potential fraudulent activity and to ensure compliance with the user terms</li>
                        <li>Managing our relationship with you, e.g. by responding to your comments or queries submitted to us or asking for your feedback</li>
                        <li>Managing our legal and operational affairs (including, managing risks relating to content and fraud matters)</li>
                        <li>Training EventBx staff about how to best serve our user community</li>
                        <li>Improving our products and services</li>
                        <li>Providing general administrative and performance functions and activities</li>
                    </ul>
                </li>
                <li>
                    Where you give us consent:
                    <ul>
                        <li>Providing you with marketing information about products and services which we feel may interest you</li>
                        <li>For purposes which are required by law</li>
                        <li>For the purpose of responding to requests by government, a court of law, or law enforcement authorities conducting an investigation</li>
                    </ul>
                </li>
            </ul>

            <h3>When we disclose your personal information</h3>

            <h5>We will disclose personal information to the following recipients:</h5>
            <ul>

                <li>
                    Service providers who assist us in connection with the ways we use personal information (as set out above), in particular: website hosting providers, marketing and analytics services, payment processing services
                </li>
                <li>
                    Regulators and government authorities in connection with our compliance procedures and obligations
                </li>
                <li>
                    A purchaser or prospective purchaser of all or part of our assets or our business, and their professional advisers, in connection with the purchase
                </li>
                <li>
                    A third party to respond to requests relating to a criminal investigation or alleged or suspected illegal activity
                </li>
                <li>
                    A third party, in order to enforce or defend our rights, or to address financial or reputational risks
                </li>
                <li>
                    A rights holder in relation to an allegation of intellectual property  infringement or any other infringement
                </li>
                <li>
                    Other recipients where we are authorized or required by law, or requests by government, a court of law, or law enforcement authorities, to do so
                </li>

            </ul>

            <h3>How we keep your personal information secure</h3>

            <p>We store personal information on secure servers that are managed by us and our service providers. Personal information that we store or transmit is protected by security and access controls, including username and password authentication and data encryption where appropriate.</p>

            <h3>How you can access your personal information</h3>

            <p>You can access some of the personal information that we collect about you by logging in to your account. You also have the right to make a request to access other personal information we hold about you and to request corrections of any errors in that data. You can also close the account you have with us for our sites and app at any time. To make an access or correction request, contact our privacy contact using the details at the end of this policy.</p>

            <h3>Marketing Choices regarding your personal information</h3>

            <p>Where we have your consent to do so (e.g. if you have subscribed to one of our email lists or have indicated that you are interested in receiving offers or information from us), we send you marketing communications by email about products and services that we feel may be of interest to you. You can ‘opt-out’ of such communications if you would prefer not to receive them in the future by using the “unsubscribe” facility provided in the communication itself.</p>
            <p>You also have choices about cookies, as described below. By modifying your browser preferences, you have the choice to accept all cookies, to be notified when a cookie is set, or to reject all cookies. If you choose to reject cookies some parts of our site may not work properly in your case.</p>

            <h3>Cookies and web analytics</h3>

            <p>For more information about how we use cookies, web beacons and similar technologies see our <a href="/cookies">cookie policy</a> and for more general information on cookies, see http://www.allaboutcookies.org.</p>
            <p>When you visit our site, there’s certain information that’s recorded which is generally anonymous information and does not reveal your identity. If you’re logged into your account some of this information could be associated with your account. We’re talking about the following kinds of details:</p>
            <ul>
                <li>Your IP address or proxy server IP addresses</li>
                <li>The domain name you requested</li>
                <li>The name of your internet service provider is sometimes captured depending on the configuration of your ISP connection</li>
                <li>The date and time of your visit to the website</li>
                <li>The length of your session</li>
                <li>The pages which you have accessed</li>
                <li>The number of times you access our site within any month</li>
                <li>The file URL you look at and information relating to it</li>
                <li>The website which referred you to our site</li>
                <li>The operating system which your computer uses</li>
                <li>The technical capabilities of your web browser</li>
            </ul>

            <h3>Information about children</h3>

            <p>Our site and app are not to be used by children under the age of 18 years, so if you are under 18 we ask that you do not use our site or app or give us your personal information.</p>

            <h3>Information you make public or give to others</h3>

            <p>If you make your personal information available to other people, we can’t control or accept responsibility for the way they will use or manage that data. There are lots of ways that you can find yourself providing information to other people, like when you post a public message on a forum thread, share information via social media, or make contact with another user whether via our site, app or directly via email. Before making your information publicly available or giving your information to anyone else, think carefully. If giving information to another user via our site or app, ask them how they will handle your information. If you’re sharing information via another website, check the privacy policy for that site to understand its information management practices as this privacy policy will not apply.</p>

            <h3>How long we keep your personal information</h3>

            <p>We retain your personal information for as long as is necessary to provide the services to you and others, and to comply with our legal obligations. If you no longer want us to use your personal information or to provide you with the EventBx services, you can request that we erase your personal information and close your EventBx account. Please note that if you request the erasure of your personal information we will retain information from deleted accounts as necessary for our legitimate business interests, to comply with the law, prevent fraud, collect fees, resolve disputes, troubleshoot problems, assist with investigations or requests by government, a court of law, or law enforcement authorities, enforce the terms of service and take other actions permitted by law. The information we retain will be handled in accordance with this Privacy Policy.</p>

            <h3>When we need to update this policy</h3>

            <p>We will need to change this policy from time to time in order to make sure it stays up to date with the latest legal requirements and any changes to our privacy management practices.</p>
            <p>A copy of the latest version of this policy will always be available on this page.</p>

            <h3>How you can contact us</h3>

            <p>If you have any questions about our privacy practices or the way in which we have been managing your personal information, please contact our privacy contact at <a href="mailto:privacy@eventbx.com">privacy@eventbx.com</a>.</p>

            <h3>If you’re a user or visitor in the European Economic Area these rights also apply to you:</h3>

            <p>For the purposes of applicable EU data protection law (including the General Data Protection Regulation 2016/679 (the "GDPR"), we are a "data controller" of your personal information.</p>
            <h3>How you can access your personal information</h3>

            <p>You are also entitled to ask us to port your personal information (i.e. to transfer in a structured, commonly used and machine-readable format, to you), to erase it, or restrict its processing. You also have rights to object to some processing that is based on our legitimate interests, such as profiling that we perform for the purposes of direct marketing, and, where we have asked for your consent to process your data, to withdraw this consent as more fully described below.</p>
            <p>These rights are limited in some situations – for example, we can demonstrate that we have a legal requirement to process your personal information. In some instances, this means that we may retain some data even if you withdraw your consent.</p>
            <p>Where we require your personal information to comply with legal or contractual obligations, then provision of such data is mandatory: if such data is not provided, then we will not be able to manage our contractual relationship with you, or to meet obligations placed on us. In all other cases, provision of requested personal information is optional.</p>
            <p>If you have unresolved concerns you also have the right to complain to data protection authorities. The relevant data protection authority will be the data protection authority of the country: (i) of your habitual residence; (ii) of your place of work; or (iii) in which you consider the alleged infringement has occurred.</p>
            <p>
                Both personal information and personal data have the same meaning in the context of this Privacy Policy.</p>


                Effective date 03/15/2019
</div>
    </section>
    <section id="contact" class="gray-section contact">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Contact Us</h1>
                    <p>Got questions? We have answers!</p>
                </div>
            </div>
            <div class="row m-b-lg justify-content-center">
                <div class="col-lg-6 col-lg-offset-3 text-center">

                    <h1>
                        <strong><span class="navy">EventBx</span></strong>
                    </h1>
                    @*795 Folsom Ave, Suite 600<br />
                        San Francisco, CA 94107<br />*@
                    (479) 444-4444<br />
                    Support: support@eventbx.com<br />
                    Sales: sales@eventbx.com


                </div>
                @*<div class="col-lg-4">
                        <p class="text-color">
                            Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea,
                        </p>
                    </div>*@
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="mailto:test@email.com" class="btn btn-primary">Send us mail</a>
                    @*<p class="m-t-sm">
                            Or follow us on social platform
                        </p>
                        <ul class="list-inline social-icon">
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>*@
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center m-t-lg m-b-lg">
                    <p>
                        <strong>&copy; @DateTime.Now.Year EventBx</strong> | <a href="/cookies">Cookie Policy</a> | <a href="/privacy">Privacy Policy</a> | <a href="/terms">Terms of Service</a>
                    </p>                </div>
            </div>
        </div>
    </section>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/Popper/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/metisMenu/dist/jquery.metisMenu.js"></script>
        <script src="~/lib/slimScroll/jquery.slimscroll.js"></script>
        <script src="~/lib/pace/pace.js"></script>
        <script src="~/lib/wow/wow.min.js"></script>
        <script src="~/js/script.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/Popper/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/metisMenu/dist/jquery.metisMenu.js"></script>
        <script src="~/lib/pace/pace.min.js"></script>
        <script src="~/lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="~/lib/wow/wow.min.js"></script>
        <script src="~/js/script.min.js" asp-append-version="true"></script>
    </environment>


    <script>

        $(document).ready(function () {

            $('body').scrollspy({
                target: '.navbar-fixed-top',
                offset: 80
            });

            // Page scrolling feature
            $('a.page-scroll').bind('click', function (event) {
                var link = $(this);
                $('html, body').stop().animate({
                    scrollTop: $(link.attr('href')).offset().top - 50
                }, 500);
                event.preventDefault();
                $('#navbar').collapse('hide');
            });
        });

        var cbpAnimatedHeader = (function () {
            var docElem = document.documentElement,
                header = document.querySelector('.navbar-default'),
                didScroll = false,
                changeHeaderOn = 200;
            function init() {
                window.addEventListener('scroll', function (event) {
                    if (!didScroll) {
                        didScroll = true;
                        setTimeout(scrollPage, 250);
                    }
                }, false);
            }
            function scrollPage() {
                var sy = scrollY();
                if (sy >= changeHeaderOn) {
                    $(header).addClass('navbar-scroll')
                }
                else {
                    $(header).removeClass('navbar-scroll')
                }
                didScroll = false;
            }
            function scrollY() {
                return window.pageYOffset || docElem.scrollTop;
            }
            init();

        })();

        // Activate WOW.js plugin for animation on scrol
        new WOW().init();

    </script>

</body>
</html>