@{
    Layout = null;
    ViewData["Title"] = "EventBx";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Terms</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="~/images/landing/favicon.ico">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    </environment>

</head>

<body id="page-top" class="landing-page">
    <partial name="_CookieConsentPartial" />
    <div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top navbar-expand-md" role="navigation">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="~/images/landing/logo.png" />
                </a>
                <div class="navbar-header page-scroll">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse justify-content-end" id="navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="nav-link page-scroll" href="/">Home</a></li>
                        <li><a class="nav-link page-scroll" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <section class="generic">
        <div class="container">
            <h1>Terms of Service</h1>
            <p>
                EventBx is an online event management service that caters to both the event coordinator and the attendee experience. We are owned and operated by EventBx, Inc., a Delaware corporation.
                We provide you with these terms of service to advise you of the legal obligations you assume when you engage with the EventBx service or otherwise access any services provided by EventBx (collectively, "Services").
            </p>

            <h3>How browsing and registration works</h3>
            <p>
                Browsing: You need to be 18 years or over to use the EventBx sites and app. We don’t knowingly collect any information from anyone aged 18 or under. When browsing the sites or app
                you agree to follow our guidelines or instructions and keep in mind that these terms apply to any use of our Services whether or not you’re a member.
            </p>

            <h3>Account/Registration</h3>
            <p>Age: You need to be 18 years or over to become a member or to purchase our Services.</p>

            <p>EventBx Account: Registration is free. When you become a member you get an EventBx account that is accessible from any EventBx Service</p>

            <p>
                Your responsibility: You promise that information you give us is true, accurate and complete and, if you sign up for an EventBx account,
                that you will keep your account information up-to-date (including a current email address). You are responsible for any use of the EventBx Services
                including any activity that occurs in conjunction with your username and password
                if you have an EventBx account, so keep your password secure and don’t let any other person use your username or password. If you realize there’s any unauthorized
                use of your password or any breach of security you need to let us know immediately. You must not use a virtual private network or VPN or any other means to avoid
                compliance with these terms and conditions, or for any fraudulent or illegal reasons.
            </p>

            <p>It is important that you understand your responsibilities as a member of EventBx so please take the time to review this section and the Terms carefully.</p>

            <h3>How purchasing an event subscription works</h3>
            <p>This section will help you understand what you are buying when you purchase an event subscription and how that transaction takes place on EventBx.</p>
            <h5>What you're buying:</h5>

            <p>License: When you purchase an event subscription, you acquire the right to publish and manage and event for a 12-month term.</p>

            <h5>Warranties we make</h5>

            <p>
                We warrant that the EventBx Services will be suitable for the purposes described on the site and app, and that we will provide our platform services with reasonable skill and care.
                We otherwise do not make any express or implied warranties about the EventBx Services.
            </p>

            <h5>Refunds</h5>
            We will assess refund requests on their merits. There is generally no obligation to provide a refund or credit in situations like the following:
            <ul>
                <li>You have changed your mind about a purchase</li>
                <li>You purchased the service by mistake</li>
                <li>You do not have sufficient expertise to use the item</li>
            </ul>
            <p>If we decide to issue a refund, this will generally be done using the same manner used to make the purchase. So if the item was purchased using a particular payment method you will be refunded using the same payment method in reverse.</p>

            <p>It is important that you understand how refunds work on EventBx Services.</p>
            <p>Disputes with payment agents: If, as a buyer, you create a dispute with a payment agent, this will result in a freezing of your EventBx account until the dispute raised with the payment agent has been cancelled. This makes it very complex to resolve any related issues, and means we cannot make payments or issue refunds, so we encourage buyers to contact us directly first to see if we can help resolve any concerns.</p>

            <h3>Our use of your information</h3>
            <p>Privacy: We respect your privacy and process your personal information in accordance with our Privacy Policy</p>

            <h5>Our Privacy Policy explains how we deal with your information.</h5>
            <p>
                Confidential Information: We value your information and take reasonable precautions to protect it. While using EventBx Services, you may also
                become aware of confidential information about us or another member. You promise to not disclose any confidential information made available to you through the EventBx Services to any other person.
            </p>

            <h3>Service conduct</h3>
            <p>
                Prohibited Conduct: We strongly recommend that you don’t make your contact details public on EventBx Services or in any public communications via the EventBx Services.
                Contact details include your email address, street address, Skype name and phone number (but not social network handles).
                If you do, it must not be for any reason prohibited under the Acceptable Use Policy and you do so at your risk!
            </p>

            <p>
                Content removal: We can look at or remove any of your content for any reason at our discretion. Reasons might include quality assurance, if we receive a valid
                copyright take-down notice or General IPR Notice, if we think that the content is unauthorized, misleading, incorrect, offensive, or in breach of anyone else’s rights,
                or if we think that your use of the EventBx Services and any content might result in liability to us or anyone else.
            </p>

            <h3>Legal</h3>
            <p>
                Eligibility, suspension or termination: Membership is not an automatic right, it is a benefit for members who follow our terms and policies. We may, using reasonable discretion,
                decide whether or not your use of EventBx complies with these terms and our policies. We can suspend or terminate your EventBx account at any time for any reason
                including if you:
            </p>
            <ul>
                <li>Breach these terms or any terms applicable to any of your EventBx Services</li>
                <li>Breach any of our policies</li>
                <li>Act in a way that does not align with the values of our company</li>
                <li>Act in a way that could cause us or other members harm.</li>
            </ul>
            <p>
                If we do decide to permanently terminate your EventBx account you can not apply for a new account.
            </p>

            <h3>Liability and indemnity</h3>
            <p>
                You indemnify us against all losses, costs (including legal costs on a full indemnity basis), expenses, demands or liability that we incur arising out of,
                or in connection with, a third party claim against us relating to your use of EventBx Services and any content you post to EventBx.
            </p>

            <p>Our liability to you in connection with EventBx Services or these terms, in contract, tort (including negligence) or otherwise, is limited as follows:</p>
            <ul>
                <li>
                    We exclude liability for any of these things incurred by you: loss of revenue, loss of profit, loss of goodwill, loss of customers, loss of capital, damage to reputation,
                    loss in connection with any other contract, loss of data, or indirect, consequential or special loss, damage or expense
                </li>
                <li>Our total liability to you is limited to the the service cost paid by you when purchasing the service.</li>
            </ul>
            <p>
                These sections mean that you protect us from costs and claims that happen because of your actions on the site, and that our liability to you is limited.
                We may, at our expense, assume the exclusive defense and control of any matter you indemnify us against, and if so you agree to cooperate with us.
            </p>

            <p>
                Availability: We strive to have EventBx Services available to you 24 hours a day, seven days a week but you know how the internet works: occasionally you might not be able to
                access EventBx, and this might happen for any reason, at any time, with or without notice, or at our absolute discretion. We might also change aspects of how EventBx works.
                EventBx will not be liable to you for any loss you suffer as a result of these things.
            </p>
            <p>
                Third Party: If you're agreeing to these terms on behalf of someone else (like your employer), then you're promising to us that you have full legal authority to bind that third party.
            </p>
            <p>
                Consumer laws: In some places there may be non-excludable warranties, guarantees or other rights ('non-excludable consumer guarantees'). We do not exclude, restrict or modify
                non-excludable consumer guarantees in these terms. Except for non-excludable consumer guarantees, we are bound only by the express warranties made in these terms.
                Our liability for breach of a non-excludable consumer guarantee is limited to paying the cost of the relevant service, (unless the non-excludable consumer guarantee says otherwise).
            </p>

            <p>
                Blocking a member, disabling an account or refusing to process a payment. We may block you, terminate any of your EVentBx accounts or refuse to process a payment if we reasonably
                believe there is a risk associated with you, your EventBx account, or that payment,
                including if it breaches a law or regulation. Examples of where we might do this include transactions where we suspect the payment is from a person or country
                sanctioned by an authority or where we reasonably believe there is a legal or
                regulatory risk or a risk of loss being suffered by us or our members. You warrant that you are not located in a sanctioned country and are not on a sanctioned persons list.
                You also warrant that you will not purchase services on EventBx Services using funds sourced from a sanctioned country. We may also block members from a country if we can’t
                make payments to or from that country.
                We may take any of the actions stated in this section without notice.
            </p>

            <p>Notices: Any notice you send us must be submitted via a help request. Any notice we send to you will be emailed to your EventBx account email address.</p>

            <p>Changes to EventBx Terms: We may change these terms at any time and, if we make changes, we will take reasonable steps to let our community know about the changes.
            You can also keep track of whether changes have been made to our terms by referring to the version and effective date at the footer of the terms. You can close your
            ccount and terminate your agreement with us at any time if you do not agree to the changes. However, if you continue to use EventBx Services after the changes are made,
            then you will be agreeing to the changes.</p>

            <p>Interpretation: Words like 'include' and 'including' are not words of limitation and where anything is within our discretion we mean our sole discretion.</p>

            <p>
                Applicable Laws: We control and operate EventBx from our offices in the United States. The laws of the United States and the state of Arkansas govern these terms and you submit 
                to the jurisdiction of the courts
                there for the resolution of any dispute between us.
            </p>

            Version 1.0 - Effective date: March 15, 2019.
        </div>
    </section>
    <section id="contact" class="gray-section contact">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Contact Us</h1>
                    <p>Got questions? We have answers!</p>
                </div>
            </div>
            <div class="row m-b-lg justify-content-center">
                <div class="col-lg-6 col-lg-offset-3 text-center">

                    <h1>
                        <strong><span class="navy">EventBx</span></strong>
                    </h1>
                    @*795 Folsom Ave, Suite 600<br />
                        San Francisco, CA 94107<br />*@
                    (479) 444-4444<br />
                    Support: support@eventbx.com<br />
                    Sales: sales@eventbx.com


                </div>
                @*<div class="col-lg-4">
                        <p class="text-color">
                            Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea,
                        </p>
                    </div>*@
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="mailto:test@email.com" class="btn btn-primary">Send us mail</a>
                    @*<p class="m-t-sm">
                            Or follow us on social platform
                        </p>
                        <ul class="list-inline social-icon">
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>*@
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center m-t-lg m-b-lg">
                    <p>
                        <strong>&copy; @DateTime.Now.Year EventBx</strong> | <a href="/cookies">Cookie Policy</a> | <a href="/privacy">Privacy Policy</a> | <a href="/terms">Terms of Service</a>
                    </p>                </div>
            </div>
        </div>
    </section>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/Popper/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/metisMenu/dist/jquery.metisMenu.js"></script>
        <script src="~/lib/slimScroll/jquery.slimscroll.js"></script>
        <script src="~/lib/pace/pace.js"></script>
        <script src="~/lib/wow/wow.min.js"></script>
        <script src="~/js/script.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/Popper/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/metisMenu/dist/jquery.metisMenu.js"></script>
        <script src="~/lib/pace/pace.min.js"></script>
        <script src="~/lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="~/lib/wow/wow.min.js"></script>
        <script src="~/js/script.min.js" asp-append-version="true"></script>
    </environment>


    <script>

        $(document).ready(function () {

            $('body').scrollspy({
                target: '.navbar-fixed-top',
                offset: 80
            });

            // Page scrolling feature
            $('a.page-scroll').bind('click', function (event) {
                var link = $(this);
                $('html, body').stop().animate({
                    scrollTop: $(link.attr('href')).offset().top - 50
                }, 500);
                event.preventDefault();
                $('#navbar').collapse('hide');
            });
        });

        var cbpAnimatedHeader = (function () {
            var docElem = document.documentElement,
                header = document.querySelector('.navbar-default'),
                didScroll = false,
                changeHeaderOn = 200;
            function init() {
                window.addEventListener('scroll', function (event) {
                    if (!didScroll) {
                        didScroll = true;
                        setTimeout(scrollPage, 250);
                    }
                }, false);
            }
            function scrollPage() {
                var sy = scrollY();
                if (sy >= changeHeaderOn) {
                    $(header).addClass('navbar-scroll')
                }
                else {
                    $(header).removeClass('navbar-scroll')
                }
                didScroll = false;
            }
            function scrollY() {
                return window.pageYOffset || docElem.scrollTop;
            }
            init();

        })();

        // Activate WOW.js plugin for animation on scrol
        new WOW().init();

    </script>

</body>
</html>