<div class="footer">
    <div>
        <strong>&copy; @DateTime.Now.Year EventBx</strong> | <a href="https://www.eventbx.com/cookies" target="_blank">Cookie Policy</a> | <a href="https://www.eventbx.com/privacy" target="_blank">Privacy Policy</a> | <a href="https://www.eventbx.com/terms" target="_blank">Terms of Service</a>
    </div>
</div>
